<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        {{#each page.persons}}
        <li>{{ this.firstname }} {{ this.lastname }}</li>
        {{/each}}
    </ul>
</body>
</html>