---
{
    "template": "full-html"
}
---
<h1>Alle Lebensläufe</h1>

<a href="/lebenslauf/tommy-w">Click Me</a>
<a href="tommy-w">Click Me</a>
<a href="http://localhost:8080/lebenslauf/tommy-w">Click Me</a>