# gui
.vscode/

# Dependency directories
node_modules/

# dotenv environment variables file
.env
.env.dev
.env.test

# build / generate output directory
dist/

# development environment directory
dev/