{
    "template": "full-html"
}
---
<h2>Cookie Example</h2>
<script type="text/javascript">
    console.log(document.cookie);
    document.cookie = "name=Max U.; expires=Mon, 01 Oct 2018 12:00:00 UTC";
    document.cookie = "age=50; expires=Mon, 01 Oct 2018 12:00:00 UTC";
</script>
<p>name: {{request.cookie.name}}</p>
<p>age: {{request.cookie.age}}</p>