{
  "template": "gallery-content",
  "title": "Meine erste Gallerie",
  "images": [
    {
      "src": "/assets/screenshot/dwarf-fortress.png",
      "title": "Crossover of Dungeon Keeper & The Sims"
    },
    {
      "src": "/assets/screenshot/evil-genius.png",
      "title": "Evil will always win because Good is very, very, very dumb"
    }
  ]
}
---
<p>
  Auf dieser Seite beschreibe ich einige tolle Spiele.
  Alle hier beschriebenen Spiele gibt es
  <abbr title="Digital Rights Management">DRM</abbr>-
  frei auf <a href="https://www.gog.com">gog.com</a>.
</p>
