{
    "title": "G채stebuch",
    "template": "full-html"
}
---
<h1>G채stebuch</h1>
<h2>Eintr채ge</h2>
{{#each request.post.guestbookEntries}}
    <p>{{this.author}}: {{this.text}}</p>
{{/each}}

<form action="guestbook" method="get">
    <label class="h2">Neuen Eintrag verfassen</label>
    <label for="author">Author</label>
    <input type="text" name="author" id="author" maxlength="30">

    <label for="text">Text</label>
    <input type="text" name="text" id="text" maxlength="120">

    <button type="reset">Eingaben zur체cksetzen</button>
    <button type="submit">Eingaben absenden</button>
</form>