{
  "vorname": "Firenze",
  "nachname": "(Zentaur)",
  "geburtsjahr": "unbekannt"
}
---
<ul>
  <li>Vorname: {{ page.vorname }}</li>
  <li>Nachname: {{ page.nachname }}</li>
  <li>
    Geschlecht: 
    {{#if page.weiblich}}
      Weiblich
    {{else}}
      Nicht weiblich (Männlich?)
    {{/if}}
  </li>
  <li>Geburtsjahr: {{ page.geburtsjahr }}</li>
</ul>