{
  "person": {
    "name": "Ronald Bilius Weasley",
    "spitzname": "Won-Won"
  },
  "schule": {
    "name": "Hogwarts",
    "ort": "England"
  }
}
---
<p>
  {{ page.person.name }} (&quot;{{ page.person.spitzname}}&quot;)
  studiert in {{ page.schule.name }} ({{ page.schule.ort }}).
</p>
