<!-- pages/template-ueb01.hbs -->
<div class="main-flex">
    <!-- templates/head.hbs -->
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="../assets/style.css"/>
        <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>

        <title>CryptoCatz - Online-Shop</title>
    </head>
    <body>
    <header>
        <div>
            <h1><i class="fas fa-paw"></i></h1>
            <h1>CryptoCatz</h1>
            <h1>OnlineShop</h1>
            <h1><i class="fas fa-paw"></i></h1>
        </div>
    </header>
    <div class="flex">
        <!-- templates/nav.hbs -->
        <nav>
            <a class="nav-item top" href="index"><i class="zmdi zmdi-home"></i> Startseite</a>
            <a class="nav-item middle" href="/catz-grid"><i class="zmdi zmdi-favorite"></i> Alle CryptoCatz</a>
            <a class="nav-item bottom" href="/cart"><i class="zmdi zmdi-shopping-basket"></i> Warenkorb</a>
            <a class="nav-item bottom" href="/impressum"><i class="zmdi zmdi-info"></i> Impressum</a>
        </nav>
        <!-- templates/overview.hbs -->
        <main>
            <h2>Herzlich Willkommen im CryptoCatz-Shop!</h2>
            <p>Hier finden Sie unsere allergikerfreundlichen Online-Katzen.
            </p>
            <p>Genießen auch Sie die Vorteile einer digitalen Katze:
            <ul>
                <li>verliert keine Haare</li>
                <li>macht keinen Dreck</li>
                <li>braucht keine intensive Pflege</li>
            </ul>
            </p>
            <p>Kaufen Sie heute noch Ihre Online-Katze! Lieferung sofort und kostenlos.
            </p>
        </main>
        <!-- templates/aside.hbs -->
        <aside>
            <p>Hier kommt später mal der Warenkorb...</p>
        </aside>
    </div>
    <!-- templates/foot.hbs -->
    <footer>
        <p>&copy; 2018 CryptoCatz </p>
    </footer>
    </body>
    </html>
</div>