<!-- pages/html-invalid.hbs -->
<div name="invalid-wrapper">
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>HTML-Dökümént</title>
    </head>
    <body>
        {{include "header"}}
        <div name="content">
            <p>Inhalt</p>
        </div>
    </body>
    </html>
</div>
