{
  "personen": [
    {
      "hobbies": ["lesen", "schwimmen", "reiten"],
      "name": "Thomas"
    },
    {
      "name": "Marianne",
      "hobbies": ["Xbox", "PS4", "PC"]
    }
  ]
}
---
{{#each page.personen}}
  <p>
    Mein Name ist {{ name }} und meine Hobbies sind
    <ul>
      {{#each hobbies }}
        <li>{{ this }}</li>
      {{/each}}
    </ul>
  </p>
{{/each}}