<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Several Stylesheets</title>
    <link rel="stylesheet" type="text/css" href="assets/header.css">
    <link rel="stylesheet" type="text/css" href="assets/footer.css">
    <link rel="stylesheet" type="text/css" href="assets/invalid.css">
    <link rel="stylesheet" type="text/css" href="assets/style.css">
</head>
<body>
    <header>
        <h1>Überschrift</h1>
    </header>
    <p>Lorem Ipsum...</p>
    <footer>
        <p>Copyright</p>
    </footer>
</body>
</html>

