<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }} - {{ global.title }}</title>
    <link rel="stylesheet" href="assets/style.css">
  </head>
  <body>
    {{ content }}
  </body>
</html>
