{
    "pages": [
        {
            "name": "Home",
            "url": "/"
        }, {
            "name": "Über Mich",
            "url": "/aboutme"
        }, {
            "name": "Wochenplan",
            "url": "/wochenplan"
        }, {
            "name": "Impressum",
            "url": "/impressum"
        }
    ]
}
---
<header>
    <nav>
        <ul>
            {{#each page.pages}}
            <li><a href="{{this.url}}">{{ this.name }}</a></li>
            {{/each}}
        </ul>
    </nav>
</header>