<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{ sayHello }}</h1>
    <p>Current Timestamp: {{ now }}</p>
    <p>Increment of 5: {{ next 5 }}</p>
    <p>Tomorrow is: {{ nextDay (now) }}</p>
</body>
</html>